<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-novelty-watchface"
        version="1.0.0">

	<name>Watchface</name>
	<keywords>cordova, camera, file, exif, geo, location, geolocation, tag</keywords>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<js-module src="www/Watchface.js" name="Watchface">
		<clobbers target="Watchface"/>
	</js-module>

	<platform name="ios">
		<config-file target="config.xml">
			<feature name="Watchface">
				<param name="ios-package" value="Watchface"/>
			</feature>
		</config-file>
		<source-file src="src/ios/Watchface.swift"/>
	</platform>

</plugin>
