<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-novelty-watchface"
        version="1.0.1">

	<name>Watchface</name>
	<keywords>cordova, camera, file, exif, geo, location, geolocation, tag</keywords>
    <description>For me and not yo</description>
    
    <dependency id="cordova-plugin-compat" version="^1.0.0" />
    <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>
    
    <js-module name="Watchface" src="www/Watchface.js">
        <clobbers target="Watchface" />
    </js-module>
    

	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Watchface">
                <param name="ios-package" value="Watchface" />
            </feature>
        </config-file>
		<source-file src="src/ios/Watchface.swift"/>
        <!--<header-file src="src/ios/Watchface.h"/>
        <source-file src="src/ios/Watchface.m"/>-->
	</platform>

</plugin>
